/* styles.css */


/*
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    text-align: center;
    padding: 20px 0;
    margin: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

form{
    display:block;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}

.button:hover {
    background-color: #218838;
}
    */


.proyectobd{
    width: 1920px;
    height: 1080px;
    position: relative;
    background: white;
}

.Fondo{
     width: 1920px;
     height: 1080px;
     left: 0px;
     top: 0px;
     position: absolute;
}

.Fondo123{
    width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: #6A5AE0;
}

.Fondo1231{
     width: 1920px;
     height: 1080px;
     left: 0px;
     top: 0px;
     position: absolute;
}


.Cuadromostrarflores{
     width: 1066px;
     height: 638px;
     left: 427px;
     top: 222px;
     position: absolute;
     background: white;
     border-radius: 32px;
}



.BotonaAdirflor{
    width: 48px;
    height: 48px;
    left: 936px;
    top: 246px;
    position: absolute;
    background: #6A5AE0;
    box-shadow: 0px 0px 30px rgba(3, 3, 25, 0.20);
    border-radius: 9999px;
}

.Icon1{
    width: 37px;
    height: 37px;
    left: 6px;
    top: 6px;
    position: absolute;
}

.FloresRegistradas{
    width: 551px; height: 127px; left: 685px; top: 62px; position: absolute;
    text-align: center;
    color: white;
    font-size: 48px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    line-height: 72px;
    word-wrap: break-word;
}

.CuadroFlor1{
    width: 293px;
    height: 209.67px;
    left: 485px;
    top: 332px;
    position: absolute;
    visibility: hidden;
}

.CuadroFlor{
    width: 293px;
    height: 209.67px;
    left: 0px;
    top: 0px;
    position: absolute;
    border-radius: 20px;
}

.Vbnflor1{
    left: 142px;
    top: 174px;
    position: absolute;
    color: #AFACCC;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    visibility: hidden;
}

.Generoflor1{
    left: 36px;
    top: 105px;
    position: absolute;
    color: #5E5B7C;
    font-size: 15px;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    line-height: 21px;
    word-wrap: break-word;
    visibility: hidden;
}

.Textoflor1{
     left: 33px;
     top: 71px;
     position: absolute;
     color: #5E5B7C;
     font-size: 24px;
     font-family: 'Rubik', sans-serif;
     font-weight: 500;
     line-height: 33.60px;
     word-wrap: break-word;
     visibility: hidden;
}

.CuadroFlor2{
    width: 293px; height: 209.67px; left: 814px; top: 332px; position: absolute;visibility: hidden;
}



.Vbnflor2{
    left: 142px; top: 174px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Generoflor2{
    left: 36px; top: 105px; position: absolute; color: #5E5B7C; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Textoflor2{
    left: 33px; top: 71px; position: absolute; color: #5E5B7C; font-size: 24px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 33.60px; word-wrap: break-word;visibility: hidden;
}


.CuadroFlor3{
    width: 293px; height: 209.67px; left: 1143px; top: 332px; position: absolute;visibility: hidden;
}


.Vbnflor3{
    left: 142px; top: 174px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Generoflor3{
    left: 36px; top: 105px; position: absolute; color: #5E5B7C; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Textoflor3{
    left: 33px; top: 71px; position: absolute; color: #5E5B7C; font-size: 24px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 33.60px; word-wrap: break-word;visibility: hidden;
}


.CuadroFlor4{
    width: 293px; height: 209.67px; left: 485px; top: 585px; position: absolute;visibility: hidden;
}



.Vbnflor4{
    left: 142px; top: 174px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Generoflor4{
    left: 36px; top: 105px; position: absolute; color: #5E5B7C; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Textoflor4{
    left: 33px; top: 71px; position: absolute; color: #5E5B7C; font-size: 24px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 33.60px; word-wrap: break-word;visibility: hidden;
}


.CuadroFlor5{
    width: 293px; height: 209.67px; left: 814px; top: 585px; position: absolute;visibility: hidden;
}



.Vbnflor5{
    left: 142px; top: 174px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Generoflor5{
    left: 36px; top: 105px; position: absolute; color: #5E5B7C; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Textoflor5{
    left: 33px; top: 71px; position: absolute; color: #5E5B7C; font-size: 24px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 33.60px; word-wrap: break-word;visibility: hidden;
}


.CuadroFlor6{
    width: 293px; height: 209.67px; left: 1143px; top: 585px; position: absolute;visibility: hidden;
}



.Vbnflor6{
    left: 142px; top: 174px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Generoflor6{
    left: 36px; top: 105px; position: absolute; color: #5E5B7C; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;visibility: hidden;
}

.Textoflor6{
    left: 33px; top: 71px; position: absolute; color: #5E5B7C; font-size: 24px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 33.60px; word-wrap: break-word;visibility: hidden;
}







.Ventanaregistro{
    width: 1920px; height: 1080px; position: absolute;  visibility: hidden; left: 0px; top: 0px; 
}

.Rectangle861{
    width: 1920px; height: 1080px; left: 0px; top: 0px; position: absolute; background: rgba(0, 0, 0, 0.37);
}

.Cuadroregistro{
    width: 709px; height: 680px; left: 605px; top: 100px; position: absolute;
}

.Baseregistro{
    width: 709px; height: 680px; left: 0px; top: 0px; position: absolute; background: #6A5AE0; border-radius: 20px;
}

.RegistraTuFlor{
    width: 551px; height: 127px; left: 79px; top: 20px; position: absolute; text-align: center; color: white; font-size: 48px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 72px; word-wrap: break-word;
}









.genero-combobox1{
    width: 140px; height: 63px; left: 190px; top: 110px; position: absolute; background: white; border-radius: 20px; 
}

select{
    left: 19px; top: 21px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word; height: 63; width: 300;
}
select option{
    left: 59px; top: 21px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word; 
}



.labelidflor{
    left: 195px; top: 185px; position: absolute; color: #ffffff; font-size: 20px; font-family: 'Rubik', sans-serif; font-weight: 600; line-height: 21px; word-wrap: break-word; 
}

.idflor{
    width: 100px; height: 60px; left: 190px; top: 210px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;background: white; border-radius: 20px; border-color: #6A5AE0;
}


.labelnombreflor{
    left: 195px; top: 285px; position: absolute; color: #ffffff; font-size: 20px; font-family: 'Rubik', sans-serif; font-weight: 600; line-height: 21px; word-wrap: break-word; 
}

.nombreflor{
    width: 200px; height: 60px; left: 190px; top: 310px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;background: white; border-radius: 20px; border-color: #6A5AE0;
}


.labelvbn{
    left: 195px; top: 385px; position: absolute; color: #ffffff; font-size: 20px; font-family: 'Rubik', sans-serif; font-weight: 600; line-height: 21px; word-wrap: break-word; 
}

.vbn{
    width: 200px; height: 60px; left: 190px; top: 410px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;background: white; border-radius: 20px; border-color: #6A5AE0;
}


.labeltemp{
    left: 195px; top: 485px; position: absolute; color: #ffffff; font-size: 20px; font-family: 'Rubik', sans-serif; font-weight: 600; line-height: 21px; word-wrap: break-word; 
}

.temperatura{
    width: 200px; height: 60px; left: 190px; top: 510px; position: absolute; color: #AFACCC; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 400; line-height: 21px; word-wrap: break-word;background: white; border-radius: 20px; border-color: #6A5AE0;
}

.botonregistrar{
    left: 210px; top: 600px; position: absolute; color: #fdfdfd; font-size: 15px; font-family: 'Rubik', sans-serif; font-weight: 500; line-height: 21px; background: #AFACCC; border-radius: 20px; border-color: #6A5AE0; height: 45px; width: 100px;
}

.botonregistrar:hover{
    color: #e2dfdf;
    background: #9c9ab3;
}